<div class="blank-layout-container justify-content-center">
  <div class="auth-wrapper">
    <div class="position-relative shaper-wrapper">
      <div class="w-100 position-relative rounded bg-white auth-card">
        <div class="auth-body">
          <a [routerLink]="['/dashboards/dashboard1']" class="m-t-20 d-flex">
            <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2" alt="logo" />
          </a>

          <div class="row">
            <div class="col-lg-6">
              <div class="align-items-center justify-content-center d-none d-lg-flex">
                <img src="/assets/images/backgrounds/login3-bg.png" alt="login" style="max-width: 500px" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex align-items-start align-items-lg-center justify-content-center">
                <div class="row justify-content-center w-100">
                  <div class="col-lg-11">
                    <h4 class="f-w-700 f-s-30 lh-base m-0">
                      Welcome to TradeArena
                    </h4>
                    <span class="f-s-14 d-block mat-body-1 m-t-8">Your Trading Simulator</span>

                    <!-- Conditional Logic -->
                    <div *ngIf="!authResponse.mfaEnabled">
                      <div class="or-border m-t-30">Sign Up</div>
                      <form class="m-t-30" (ngSubmit)="registerUser()">
                        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">First Name</mat-label>
                        <mat-form-field appearance="outline" class="w-100" color="primary">
                          <input matInput required [(ngModel)]="registerRequest.firstname" name="firstname" />
                        </mat-form-field>

                        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Last Name</mat-label>
                        <mat-form-field appearance="outline" class="w-100" color="primary">
                          <input matInput required [(ngModel)]="registerRequest.lastname" name="lastname" />
                        </mat-form-field>

                        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email Address</mat-label>
                        <mat-form-field appearance="outline" class="w-100" color="primary">
                          <input matInput required [(ngModel)]="registerRequest.email" name="email" type="email" />
                        </mat-form-field>

                        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Username</mat-label>
                        <mat-form-field appearance="outline" class="w-100" color="primary">
                          <input matInput required [(ngModel)]="registerRequest.username" name="username" />
                        </mat-form-field>

                        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
                        <mat-form-field appearance="outline" class="w-100" color="primary">
                          <input matInput required [(ngModel)]="registerRequest.password" name="password" type="password" />
                        </mat-form-field>

                        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Assuré</mat-label>
                        <mat-checkbox [(ngModel)]="registerRequest.assure" name="assure">Yes</mat-checkbox>

                        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Role</mat-label>
                        <mat-form-field appearance="outline" class="w-100" color="primary">
                          <mat-select [(ngModel)]="registerRequest.role" name="role" required>
                            <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-checkbox [(ngModel)]="registerRequest.mfaEnabled" name="mfaEnabled">
                          Enable 2FA (Two Factors Authentication)
                        </mat-checkbox>

                        <button mat-flat-button color="primary" class="w-100 m-t-24" type="submit">
                          Register
                        </button>
                      </form>
                    </div>

                    <!-- 2FA Setup Section -->
                    <div *ngIf="authResponse.mfaEnabled">
                      <div class="or-border m-t-30">Set Up Two-Factor Authentication</div>
                      <div class="qr-code m-t-20">
                        <img [src]="authResponse.secretImageUri" alt="QR Code" />
                      </div>
                      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
                        Enter 6-digit Validation Code Generated by the App
                      </mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput required [(ngModel)]="otpCode" name="validationCode" maxlength="6" />
                      </mat-form-field>
                      <button
                        mat-flat-button
                        color="primary"
                        class="w-100 m-t-24"
                        (click)="verifyTfa()"
                        [disabled]="otpCode.length < 6"
                      >
                        Verify Code
                      </button>
                    </div>

                    <span class="d-block f-w-500 d-block m-t-24">
                      Already have an Account?
                      <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
                        Sign In
                      </a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
